In [1]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\DELL'

In [4]:
file_path = 'chicago.csv' # Make sure the dataset is in the same directory as this script
df = pd.read_csv(file_path)

In [5]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [6]:
total_trip_duration = df['Trip Duration'].sum()
average_trip_duration = df['Trip Duration'].mean()

# Strings
first_start_station = df['Start Station'].iloc[0]

# Booleans
has_female_users = 'Female' in df['Gender'].unique()

# Compound Data Types
# Lists
start_stations_list = df['Start Station'].tolist()

# Tuples
summary_stats = (df['Trip Duration'].mean(), df['Trip Duration'].median(), df['Trip Duration'].std())

# Dictionaries
user_type_counts = df['User Type'].value_counts().to_dict()

# Sets
unique_stations = set(df['Start Station'])

# Operators
# Arithmetic Operators
total_duration = df['Trip Duration'].sum() # Total trip duration
average_duration = df['Trip Duration'].mean() # Average trip duration

# Comparison Operators
long_trips = df[df['Trip Duration'] > 1000] # Filtering trips longer than 1000 seconds

# Logical Operators
male_trips = df[(df['Gender'] == 'Male') & (df['Birth Year'] > 1990)] # Trips by males born after 1990

# Assignment Operators
df['Adjusted Duration'] = df['Trip Duration'] # Creating a new column
df['Adjusted Duration'] += 60 # Adding 60 seconds to each trip duration

# Output results
print("Total Trip Duration:", total_trip_duration)
print("Average Trip Duration:", average_trip_duration)
print("First Start Station:", first_start_station)
print("Has Female Users:", has_female_users)
print("Start Stations List:", start_stations_list[:5]) # Print first 5 to avoid clutter
print("Summary Stats:", summary_stats)
print("User Type Counts:", user_type_counts)
print("Unique Start Stations:", list(unique_stations)[:5]) # Print first 5 to avoid clutter
print("Total Duration:", total_duration)
print("Average Duration:", average_duration)
print("Number of Long Trips:", len(long_trips))
print("Number of Male Trips by Users Born After 1990:", len(male_trips))
print("Sample Adjusted Durations:", df['Adjusted Duration'].head())

# Save results to a new CSV file
df.to_csv('chicago_analysis_results.csv', index=False)

Total Trip Duration: 280871787
Average Trip Duration: 936.23929
First Start Station: Wood St & Hubbard St
Has Female Users: True
Start Stations List: ['Wood St & Hubbard St', 'Theater on the Lake', 'May St & Taylor St', 'Christiana Ave & Lawrence Ave', 'Clark St & Randolph St']
Summary Stats: (936.23929, 670.0, 1548.7927674096338)
User Type Counts: {'Subscriber': 238889, 'Customer': 61110, 'Dependent': 1}
Unique Start Stations: ['Clark St & Wrightwood Ave', 'MLK Jr Dr & 47th St', 'Bennett Ave & 79th St', 'Evans Ave & 75th St', 'Wood St & Hubbard St']
Total Duration: 280871787
Average Duration: 936.23929
Number of Long Trips: 91064
Number of Male Trips by Users Born After 1990: 29109
Sample Adjusted Durations: 0     381
1    1670
2     476
3     410
4     594
Name: Adjusted Duration, dtype: int64